
<!--<header>-->
    <div class="col-md-2 logo text-left">
        <!-- Replace government-logo.png with your actual logo file -->
        <img src="./images/bd-gov.png" ui-sref="home" alt="Government Logo">
<!--        <span style="color:var(&#45;&#45;text-light); font-weight: bold;font-size: 18px;" class="text-uppercase">&nbsp;&nbsp;প্রধান উপদেষ্টার কার্যালয়</span>-->
    </div>
    <div class="col-md-8 text-center web-view" style="margin-top: 15px;width: auto;">
        <div style="width: fit-content">
            <span style="color:yellow" class="pull-right" translate="global.officeName">প্রধান উপদেষ্টার কার্যালয় কর্তৃক গঠিত</span>
            <br/>
            <span style="font-family: solaimanLipi; margin-top: 5px; font-size: 32px; color:var(--text-light)" translate="global.pageHeading"> সংস্কার কমিশনসমূহের প্রতিবেদন</span>
        </div>
    </div>
    <div class="col-md-8 text-center mobile-view" style="margin-top: 15px;">
        <div style="width: fit-content">
            <span style="color:yellow" translate="global.officeName">প্রধান উপদেষ্টার কার্যালয় কর্তৃক গঠিত</span>
            <br/>
            <h4 style="font-family: 'SolaimanLipi', sans-serif; margin-top: 5px; font-size: 32px; color:var(--text-light)" translate="global.pageHeading"> সংস্কার কমিশনসমূহের প্রতিবেদন</h4>
        </div>
    </div>
<!--    <div class="col-md-8 text-center" style="margin-top: 15px;">-->
<!--        <span style="color:yellow">প্রধান উপদেষ্টার কার্যালয় কর্তৃক গঠিত</span>-->
<!--        <br/>-->
<!--        <span style="font-family: solaimanLipi; margin-top: 5px; font-size: 32px; color:var(&#45;&#45;text-light)"> সংস্কার কমিশনসমূহের প্রতিবেদন</span>-->
<!--    </div>-->
<!--    <div class="col-md-10 search-container text-center">-->
<!--        <input type="text" placeholder="অনুসন্ধান করুন" class="search-input">-->
<!--        <button class="search-button">অনুসন্ধান</button>-->
<!--    </div>-->
<!--    <div class="col-md-10 search-container text-center">-->
<!--        <input type="text" placeholder="অনুসন্ধান করুন" class="search-input">-->
<!--        <button class="search-button">অনুসন্ধান</button>-->
<!--    </div>-->

    <div class="col-md-2 logo text-right">
        <!-- Replace ict-logo.png with your actual logo file -->
        <img style="height: 65px;" ui-sref="home" src="./images/CAO.png" alt="CAO Logo">
    </div>

<!--</header>-->

<!---=========  END HEADER AREA ========--->

<!--<nav class="navbar navbar-inverse no-br" role="navigation">-->
<!--    -->
<!--</nav>-->

